<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <!-- Configurações do Banco de Dados MySQL -->
    <add key="dbHost" value="localhost" />
    <add key="dbPort" value="3306" />
    <add key="dbName" value="mc_biblio" />
    <add key="dbUser" value="root" />
    <add key="dbPassword" value="MySQL#Root" />
  </appSettings>
</configuration>
